#ordersHistory {
    width:100%;
    border-collapse: collapse;
}

#ordersHistory th {
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    height: 20px;
    padding: 20px 15px;
    white-space: nowrap;
}

.wholeOrder {
    text-align: left;
    padding: 20px 15px;

}

.orderHistoryRow {
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.historyButtons {
    border: none;
    cursor: pointer;
    background: none;
}

.historyButtons i {
    font-size: 20px;
}